meta(name="viewport" content="width=device-width, initial-scale=1")/
meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")/

meta#color-scheme(name="color-scheme" content=colorSheme)/
meta#theme-color(name="theme-color" content=themeColor)/

link(rel="icon" sizes="any" href=homeUrl+"icons/favicon.ico")/
link(rel="apple-touch-icon" href=homeUrl+"icons/apple-touch-icon.png")/

//- html5 boilerplate
//- link(rel="icon" sizes="any" href=homeUrl+"icons/favicon.ico")/
//- link(rel="icon" type="image/svg+xml" href=homeUrl+"icons/icon.svg" )/
//- link(rel="apple-touch-icon" href=homeUrl+"icons/apple-touch-icon.png")/

//- base
//- link(rel="shortcut icon" sizes="any" href=homeUrl+"/favicon.ico")/
//- link(rel="apple-touch-icon" sizes="any" href=homeUrl+"/apple-touch-icon.png")/

//- manifest
//- link(rel="manifest" href=homeUrl+"manifest.json")/
//- link(rel="manifest" href=homeUrl+"site.webmanifest")/

<!--[if lt IE 9]><script src="//unpkg.com/html5shiv@3.7.3/dist/html5shiv.min.js"></script><![endif]-->